.btn {
  padding: 0.5em;
  font-size: 17px;
  color: #fff;
  line-height: 0.8em;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.1em;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color-2);
}
